.aulas-curso-content {
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
}

.curso-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.aulas-container {
    flex: 2;
}

.curso-info {
    width: 300px;
    background-color: white;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-self: flex-start; /* Alinha a seção de informações no topo */
    position: sticky; /* Fixa o bloco à direita da tela enquanto se rola */
    top: 20px;
}

.curso-info h3 {
    color: black;
    margin-bottom: 10px;
}

.info-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.badge-online {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.aulas-text {
    font-size: 24px;
    color: #034638;
    margin-bottom: 15px;
}

.aulas-curso-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aulas-curso-item {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border: 1px solid #b1b1b1;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: space-between;
}

.aulas-curso-item h3 {
    font-size: 18px;
    color: #034638;
    margin: 0;
    flex: 1;
    text-align: center;
}

.aulas-curso-item p {
    color: #555;
    margin: 0;
}

.duracao-aula {
    min-width: 100px;
    display: flex;
    align-items: center;
}

.aulas-curso-button {
    margin: 0;
    background-color: #41b02a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 10px;
}

.aulas-curso-button:hover {
    background-color: #36a525;
}

.separador {
    margin: 20px 0;
    border: none;
    border-top: 2px solid #ccc;
    width: 100%;
}

.adc-progress-bar-container {
    display: flex;
    align-items: center;
    width: 300px;
    height: 12px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}

.adc-progress-bar {
    height: 12px;
    background-color: #41b02a;
    border-radius: 5px;
}

.adc-progress-value {
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: #333;
    margin-left: 10px;
}
