.dashboard-container {
    display: flex;
}


.sidebar {
    width: 60px;
    background-color: #034638;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    left: 0;
    margin-top: 0;
    align-items: center;
}


.content {
    flex-grow: 1;
    padding: 20px;
    padding-top: 30px;
}

h2 {
    margin-top: 0px; /* Reduz o espaço acima da mensagem */
    margin-bottom: 20px; /* Ajusta o espaço abaixo */
    color: #034638; /* Torna o título mais destacado com a cor primária */
   
}

.courses-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    
   
}

.courses-row {
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    overflow-x: hidden; 
}

.carousel::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari e Edge */
}

.carousel-content {
    display: flex;
    gap: 15px;
}


.courses-section .carousel-item {
    background-color: #b1b1b1;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}



.carousel-content {
    display: flex;
    gap: 15px;
}



.carousel-arrow {
    background-color: #034638;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 34px;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.left-arrow {
    left: -40px; 
    margin-top: -1px;
}

.right-arrow {
    right: -50px;
    margin-top: -1px;
}

.carousel-arrow:hover {
    background-color: #41b02a;
}

.carousel-item {
    min-width: 200px;
    height: 220px;
    margin-left: 60px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex-shrink: 0;
    background-color: rgb(236, 226, 226); 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.icon-container {
    margin-bottom: 10px; 
}

.icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #034638; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white; 
    font-size: 60px; 
}


.progress-container {
    display: flex;
    align-items: center; 
    width: 100%; 
    gap: 10px; 
    margin-top: 30px;
}

.progress-bar-container {
    flex-grow: 1; 
    background-color: #e0e0e0;
    border-radius: 5px; 
    height: 8px; /* Altura da barra de progresso */
    overflow: hidden; 
}

.progress-bar {
    height: 100%; 
    background-color: #41b02a;
    transition: width 0.3s ease; /* Animação ao mudar a largura */
    border-radius: 5px; 
}

.progress-text {
    font-size: 14px; 
    color: #333; 
}



