/* Estilos específicos para MenuMaq */
.menu-maq-content {
    flex-grow: 1;
    padding: 20px 10px 20px 2px; /* Padding à esquerda reduzido */
}

.menu-maq-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-maq-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-maq-item {
    width: 210px; /* Largura fixa */
    height: 250px;
    padding: 15px;
    background-color: #b1b1b1;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer; /* Cursor em forma de ponteiro para indicar que é clicável */
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */
}

/* Efeito hover */
.menu-maq-item:hover {
    background-color: #41b02a; /* Muda a cor de fundo no hover */
    color: white; /* Muda a cor do texto para branco */
    transform: scale(1.05); /* Aumenta um pouco o tamanho no hover */
}

/* Nome da máquina */
.menu-maq-nome {
    font-size: 16px;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-clamp: 2; /* Compatibilidade com navegadores sem prefixo */
    max-width: 100%;
    line-height: 1.1;
}

/* Estilos do ícone */
.menu-maq-icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu-maq-icon-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #034638; /* Cor de fundo do círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-maq-icon {
    color: white; 
    font-size: 70px; /* Tamanho do ícone */
}

/* Barra de progresso */
.menu-maq-progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-maq-progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 0px;
}

.menu-maq-progress-bar {
    height: 8px;
    background-color: #41b02a;
    border-radius: 5px;
}

.menu-maq-progress-text {
    font-size: 14px;
    color: #333;
}

.menu-maquina-search-bar {
    width: 100%;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 20px; /* Espaço entre a barra de pesquisa e o grid de cursos */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.maquinas-text {
    font-size: 24px;
}
